*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
.contents{
    display: flex;
}

/*Header*/
h1{
    padding-left: 2%;
    padding-top: 1%;
}

/*Left part of the page*/

.left-part{
    background-color: #f0f0f0;
    width: 35%;
}

input {
    width: 97%;
    line-height: 2rem;
    border-radius: 8px;
}

.myForm label{
    font-size: 150%;
}

/*Lines*/
.first-line{
    padding-bottom: 5px;
    border-bottom: 3px solid #575454; 
}

.second-line {
    padding-bottom: 5px;
    border-bottom: 3px solid #575454;  
    width: 100%;
}

/*Right part*/

.right-part{
    padding-left: 1%;
    background-color:#c5c4c4;
    width: 70rem;
}

table,th{
    border:1px solid black;
}


th, tr {
    padding: 20px;
  }


.div-table{
    padding-top: 1rem;
  }

.first-name-cell{
    padding-left: 6rem;
    padding-right: 6rem;
  }

.last-name-cell{
    padding-left: 3rem;
    padding-right: 3rem;
}  

.email-cell{
    padding-left: 5rem;
    padding-right: 5rem;
}