*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui;
} 

.contents{
    display: flex;
}

/*Header*/
h1{
    padding-left: 2%;
    padding-top: 1%;
}

/*Left part of the page*/
/*Add image*/
img{
    width: 2%;
}


.left-part{
    font-family:system-ui;
    background-color: #f0f0f0;
    width: 35%;
}

.first-line{
    padding-bottom: 5px;
    border-bottom: 3px solid #575454; 
}

.second-line {
    padding-bottom: 5px;
    border-bottom: 3px solid #575454;  
    width: 100%;
}
/*
.third-line {
    position: absolute;
    border-left: 3px solid #f0f0f0;  
    height:1000px;
    right: 67%;
}
*/
input {
    width: 97%;
}

.image-input{
    width:94%;
}

.button{
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    padding-top: 3%;
}

.add-button{
    width: 20%;
    height: 2rem;
}

/*Right part*/

.right-part{
    padding-left: 1%;
    background-color:#c5c4c4;
    width: 65%;
}

